<form method="post" asp-controller="Home" asp-action="RegisterProc">
	<input type="text" name="firstname" placeholder="firstname" required />
	<input type="text" name="lastname" placeholder="lastname" required />
	<input type="email" name="bussinesMail" placeholder="bussinesMail" required />
	<input type="email" name="privatMail" placeholder="privatMail" required />
	<input type="tel" name="privatePhone" placeholder="privatePhone" required />
	<input type="number" name="role" placeholder="role" required />
	<input type="password" name="password" placeholder="password" required />

	<button >
		<span>Register</span>
	</button>
</form>