
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ResetPasswordConfirmation</h1>
<p>
    Your password has been reset. Please <a asp-controller="Home" asp-action="Index">click here to log in</a>.
</p>