@model WebShopLib.Models.Employee
@inject WebShopLib.Models.ApplicationDbContext _context

@{
    ViewData["Title"] = "PasswordRequired";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string guid = Context.Request.Cookies["guid"];

    var user = _context.Employees.Where(x => x.Guid == guid).FirstOrDefault();
}

<h3>Please enter your password.</h3>

<form asp-action="EditRoleProc" method="post">
    <input type="hidden" value="@user.Id" name="userId"/>
    <input type="hidden" value="@Model.Id" name="employeeId"/>
    <input type="password" name="password"/>
    <input type="submit" class="btn btn-danger" value="Submit" />
</form>