@inject WebShopLib.Models.ApplicationDbContext _context
@{
    ViewData["Title"] = "ChangePrice";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Please enter your password.</h1>

<form asp-action="ChangePriceProc" method="post">
    <input type="password" name="password" class="form-control"/>
    <input type="hidden" name="userId" value="@_context.Employees.Where(x=>x.Guid==Context.Request.Cookies["guid"]).FirstOrDefault().Id"/>
    <input type="hidden" name="productId" value="@ViewBag.ProductId"/>
    <input type="hidden" name="newPrice" value="@ViewData["NewPrice"]"/>
    <input type="submit" class="btn btn-danger" value="Submit" />
</form>