@inject WebShopLib.Models.ApplicationDbContext _context

@{
    ViewData["Title"] = "PasswordRequiredDeleteProd";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userId = _context.Employees.Where(x => x.Guid == Context.Request.Cookies["guid"].ToString()).FirstOrDefault().Id;
}

<h1>Please enter your password.</h1>

<form asp-action="DeleteProdProc">
    <div class="col-md-6">
        <div class="from-group">
            <label for="password">Password : </label>
            <input type="password" name="password" class="form-control" />
            <input value="@userId" name="userId" hidden />
            <input value="@ViewBag.ItemId" name="itemId" hidden />
            <input type="submit" class="btn btn-danger" value="Submit" style="margin-top : 20px;" />
        </div>
    </div>
</form>