<div class="container pt-3">


    <h1>Informationen zu Cookies</h1>

    <p>Ein Cookie ist eine kleine Textdatei, die auf Ihrem Computer oder Mobilgerät gespeichert wird, wenn Sie eine Website besuchen. Cookies werden verwendet, um bestimmte Informationen zu speichern, z.B. Ihre Spracheinstellungen oder Einstellungen für das Layout einer Website.</p>

    <h2>Arten von Cookies</h2>

    <p>Es gibt verschiedene Arten von Cookies:</p>

    <ul>
        <li><strong>Session-Cookies:</strong> Diese Cookies werden nur für die Dauer Ihrer Browsersitzung gespeichert und automatisch gelöscht, wenn Sie Ihren Browser schließen.</li>
        <li><strong>Persistent Cookies:</strong> Diese Cookies bleiben auch nach dem Schließen Ihres Browsers auf Ihrem Computer oder Mobilgerät gespeichert, es sei denn, Sie löschen sie manuell oder sie erreichen ihr Ablaufdatum.</li>
        <li><strong>Drittanbieter-Cookies:</strong> Diese Cookies werden von einer anderen Domain als derjenigen gesetzt, die Sie besuchen. Drittanbieter-Cookies werden häufig von Werbenetzwerken verwendet, um Nutzerprofile zu erstellen und personalisierte Werbung anzuzeigen.</li>
    </ul>

    <h2>Verwendung von Cookies auf dieser Website</h2>

    <p>Wir verwenden Cookies auf dieser Website, um die Benutzerfreundlichkeit zu verbessern und die Leistung zu optimieren. Einige der Cookies, die wir verwenden, sind erforderlich, um bestimmte Funktionen bereitzustellen, während andere dazu dienen, Ihre Einstellungen zu speichern oder anonyme Statistiken über die Nutzung unserer Website zu sammeln.</p>

    <h2>Cookies verwalten und löschen</h2>

    <p>Sie können Cookies in den Einstellungen Ihres Browsers verwalten oder löschen. Die genaue Vorgehensweise hängt von Ihrem Browser ab. Bitte beachten Sie, dass das Deaktivieren von Cookies die Funktionalität unserer Website beeinträchtigen kann.</p>

    <h2>Weitere Informationen</h2>

    <p>Weitere Informationen zum Umgang mit Cookies finden Sie in unserer Datenschutzerklärung.</p>
</div>