

@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}



<form method="post" action="/Home/PasswordResetProc">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="col-md-8">

            <h1 style="margin-top:6%">Passwort zurücksetzen:</h1>
            <p style="font-size:20px">
                In Kürze erhalten Sie - per Mail - den Link zum "Passwort zurücksetzen" zugesandt.
                Bitte beachten Sie, das dieser Link nur <span style="color:red; font-weight:bold">24 Stunden gültig</span> ist.
                Nach den 24 Stunden müssen Sie die Passwortzurücksetzung erneut beantragen.
            </p>

            <a href="~/User/Login" class="btn btn-danger form-group" style="width: 100%; margin-bottom:60px; margin-top:20px">Zurück zur Anmeldung</a>

        </div>
    </div>

</form>