@{
    ViewData["Title"] = "Imprint";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="my-4">Impressum</h1>

            <h2>Angaben gemäß § 5 TMG</h2>
            <p>
                Beispiel GmbH<br>
                Musterstraße 123<br>
                12345 Musterstadt<br>
            </p>

            <h2>Kontakt</h2>
            <p>
                Telefon: +49 (0) 123 456 7890<br>
                E-Mail: info@beispiel-shop.de<br>
            </p>

            <h2>Vertreten durch</h2>
            <p>
                Max Mustermann, Geschäftsführer
            </p>

            <h2>Registereintrag</h2>
            <p>
                Handelsregister: Amtsgericht Musterstadt<br>
                Registernummer: HRB 12345<br>
            </p>

            <h2>Umsatzsteuer-ID</h2>
            <p>
                Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
                DE 123456789
            </p>

            <h2>Öffnungszeiten</h2>
            <p>
                Montag - Freitag: 9:00 - 18:00 Uhr<br>
                Samstag: 10:00 - 16:00 Uhr<br>
                Sonntag: Geschlossen
            </p>

            <h2>AGBs</h2>
            <p>
                <a href="~/Home/TermsAndCondition" target="_blank">Allgemeine Geschäftsbedingungen </a>
            </p>
        </div>

        <div class="col-md-6">
            <h1 class="my-4">Anfahrt</h1>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1179191.7032064507!2d73.26126110438678!3d31.516162619033327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919074088436a2f%3A0x42a061fd263f9087!2sCentral%20Office%20(Chakkar)%2C%20Central%20Jail%20Lahore%20at%20Kot%20Lakhpat!5e0!3m2!1sen!2sde!4v1682501649974!5m2!1sen!2sde" width="380" height="450" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>


