


@{
    ViewData["Title"] = "ResetPassword";

}


<link rel="stylesheet" href="~/css/user/registry.css" />
<script src="~/js/user/registry.js"></script>


<form method="post" asp-controller="Home" asp-action="ResetPasswordCustomer">

    <div class="container d-flex align-items-center justify-content-center">

        <div class="col-md-6">

            <h2 style="margin-bottom: 2em">Neues Passwort festlegen</h2>


            <div class="form-outline mb-4">
                <label class="form-label">Neues Passwort</label>
                <input id="password" type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$"
                       title="Das Passwort muss mindestens 8 Zeichen lang sein.
                            Es muss mindestens 1 Großbuchstaben, 1 Kleinbuchstaben, 1 Zahl und 1 Sonderzeichen enthalten." class="form-control" oninput="matchPassword()" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label">Neues Passwort bestätigen:</label>
                <input id="password2" type="password" name="password2" class="form-control" oninput="matchPassword()" required />
            </div>


            <input type="hidden" value="@ViewBag.email" name="email" />

            <input type="hidden" value="guidold" name="guid" />

            <div><button type="submit" class="btn btn-danger btn-block mb-4" style="width:100%" onclick="matchPassword()">Absenden</button></div>

        </div>
    </div>

</form>





