
@{
    ViewData["Title"] = "TermsAndCondition";
}

<div class="container">
    <h1 class="my-4" style="text-align:center">Allgemeine Geschäftsbedingungen</h1>

    <h2 style="text-align:center">1. Geltungsbereich</h2>
    <p style="text-align:center">
        Diese Allgemeinen Geschäftsbedingungen ("AGBs") gelten für alle Geschäfte zwischen GameHub GmbH ("wir" oder "uns") und unseren Kunden ("Sie" oder "Ihr").
        Durch Ihre Nutzung unserer Dienstleistungen und/oder den Erwerb unserer Produkte stimmen Sie diesen AGBs zu.
    </p>

    <h2 style="text-align:center">2. Vertragspartner, Vertragsschluss</h2>
    <p style="text-align:center">

        Der Vertrag kommt zustande zwischen Ihnen und GameHub GmbH. Die Präsentation unserer Waren und Dienstleistungen auf unserer Website stellt kein bindendes Angebot dar.
        Indem Sie eine Bestellung bei uns aufgeben, geben Sie ein verbindliches Angebot zum Kauf ab. Wir können dieses Angebot durch eine Auftragsbestätigung per E-Mail oder durch den Versand der Ware annehmen.
    </p>

    <!-- Add more sections for the T&Cs -->

    <h2 style="text-align:center">3. Widerrufsrecht</h2>
    <p style="text-align:center">

        Als Verbraucher haben Sie das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
        Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat.
        Um Ihr Widerrufsrecht auszuüben, müssen Sie uns GameHub GgmbH, E-Mail: gamehub69@bbrz.com mittels einer eindeutigen Erklärung Musterstraße 123
        12345 Musterstadt) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren.
        Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
    </p>

    <h2 style="text-align:center">4. Preise und Zahlungsbedingungen</h2>
    <p style="text-align:center">

        Alle Preise verstehen sich inklusive der jeweils gültigen Mehrwertsteuer und zuzüglich Versandkosten, sofern nicht anders angegeben. Die Zahlung des Kaufpreises ist unmittelbar mit Vertragsschluss fällig.
        Die Zahlung kann per [Zahlungsmethode(n)] erfolgen. Wir behalten uns das Recht vor, im Einzelfall bestimmte Zahlungsmethoden auszuschließen und auf andere Zahlungsmethoden zu verweisen.
        Bei Zahlungsverzug sind wir berechtigt, Verzugszinsen in Höhe von [prozentualer Satz] über dem jeweiligen Basiszinssatz der Europäischen Zentralbank zu verlangen. Ihnen bleibt es jedoch vorbehalten, uns nachzuweisen, dass uns kein oder ein geringerer Schaden entstanden ist.
    </p>

    <h2 style="text-align:center">5. Liefer- und Versandbedingungen</h2>
    <p style="text-align:center">

        Die Lieferung der Waren erfolgt innerhalb von 365 Werktagen nach Zahlungseingang, sofern nichts anderes vereinbart wurde. Die Lieferung erfolgt an die von Ihnen angegebene Lieferadresse. Die Versandkosten werden in der Bestellübersicht ausgewiesen. Sollten wir eine Lieferung trotz dreimaligem Auslieferversuchs an die von Ihnen angegebene Lieferadresse nicht zustellen können, können wir vom Vertrag zurücktreten. Bereits geleistete Zahlungen werden in diesem Fall unverzüglich erstattet.

    </p>

    <h2 style="text-align:center">6. Eigentumsvorbehalt</h2>
    <p style="text-align:center">

        Bis zur vollständigen Bezahlung bleibt die gelieferte Ware unser Eigentum. Eine Verpfändung, Sicherungsübereignung, Verarbeitung oder Umgestaltung ohne unsere ausdrückliche Zustimmung ist nicht zulässig. Bei Zugriffen Dritter auf die Vorbehaltsware, insbesondere bei Pfändungen, sind Sie verpflichtet, auf unser Eigentum hinzuweisen und uns unverzüglich zu benachrichtigen.
    </p>

    <h2 style="text-align:center">7. Haftung</h2>
    <p style="text-align:center">

        Wir haften für Schäden nur bei Vorsatz oder grober Fahrlässigkeit.
        Die Haftung für leichte Fahrlässigkeit ist ausgeschlossen. Dies gilt nicht für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit oder aus der Verletzung wesentlicher Vertragspflichten. In diesen Fällen haften wir auch für leichte Fahrlässigkeit. Wesentliche Vertragspflichten sind solche, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und auf deren Einhaltung der Kunde regelmäßig vertrauen darf. Soweit unsere Haftung ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung unserer Mitarbeiter, Vertreter und Erfüllungsgehilfen.
    </p>

    <h2 style="text-align:center">8. Schlussbestimmungen</h2>
    <p style="text-align:center">

        Es gilt das Recht der Bundesrepublik BBRZ unter Ausschluss des UN-Kaufrechts. Sofern Sie Kaufmann im Sinne des Handelsgesetzbuchs, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen sind, ist Gerichtsstand für alle Streitigkeiten aus Vertragsverhältnissen zwischen uns und Ihnen [Ort]. Im Übrigen gelten die gesetzlichen Bestimmungen.
    </p>
</div>